node_modules
.next


# Ignore environment files (Docker Compose will provide it at runtime)
.env

# Ignore other common unnecessary files
.vscode/
.DS_Store
*.log
*.tmp

# Ignore other unnecessary files
Dockerfile
docker-compose.yml
README.md